footer {
  height: 100px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-size: cover;
  padding: 60px;
  /* flex-direction: column; */
}

.container li {
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  padding: 0px 10px;
}

footer a {
  color: white;
  transition: .4s ease-in-out;
}

footer a:hover {
  color: gray;

}

.fa-solid.fa-heart {
  color: red;
}
